<head>
    <meta charset="UTF-8">
    <link type="text/css" href="styleForDiagram.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
</head>
<hr>
<div ng-app="graphApp">
    <div ng-controller="graphController as graph">
        <ul ng-mouseleave="reset($event)" ng-mouseover="targetNow($event)" class="chart" style="width:{{width}}px; height:{{height}}px;">
            <script src="diagram.js" type="text/javascript"></script>
            <!-- Labels -->
            <div class="y" style="width:{{height}}px;">{{yAxis}}</div>
            <div class="x">{{xAxis}}</div>
            <!-- Data -->
           <li ng-repeat="bar in data" data-info="{{bar.day}} Февраля, Курс:{{bar.course}}" class="bar" style="height:{{bar.course / max * height}}px; width:{{width / data.length - 5}}px; left:{{$index / data.length * width}}px;"></li>
           <!-- <li ng-repeat="dot in data" class="dot" style="bottom:{{(dot.course / max * height)/2}}px; left:{{($index + 0.5) / data.length * width}}px;"><span>{{dot.day}} - {{dot.course}}</span></li>-->
        </ul>

    </div>
</div>