body {
  text-align:center;
}

// Chart set up

.chart {
  border-left:1px solid black;
  border-bottom:1px solid black;
  margin:60px auto;
  position:relative;
  list-style:none;
  padding:0;
}

.y {
  position:absolute;
  transform:rotate(-90deg);
  transform-origin: bottom left;
  bottom:0;
  padding:5px;
}

.x {
  position:absolute;
  top:100%;
  width:100%;
  padding:5px;
}

// Bar Chart

.bar  {
  background:red;
  position:absolute;
  bottom:0;

  &:nth-of-type(even) {
    background:red;
  }
  span {
    position:absolute;
    bottom:-10px;
    left:50%;
    transform:rotate(-90deg) translateY(-50%);
    transform-origin: left top;
    font-weight:bold;
    opacity:0;
    transition:0.3s;
    white-space:nowrap;
  }

  &:hover {

    span {
      opacity:1;
    }
  }
}

.dot {
  background: blue;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  position: absolute;

  span {
    position:absolute;
    bottom:-10px;
    left:50%;
    transform:rotate(-90deg) translateY(-50%);
    transform-origin: left top;
    font-weight:bold;
    opacity:0;
    transition:0.3s;
    white-space:nowrap;
  }

  &:hover {

    span {
      opacity:1;
    }
  }

}
svg {
  position: absolute;
  transform: rotateX(180deg);
  left: 0;
}

line  {
  stroke:red;
  stroke-width:3px;
}

.info {
  position: fixed;
  padding: 10px 20px;
  border: 1px solid #b3c9ce;
  border-radius: 4px;
  text-align: center;
  font: italic 14px/1.3 arial, sans-serif;
  color: #333;
  background: #fff;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, .3);
}