.bar {
  fill: steelblue;
}

.bar:hover {
  fill: brown;
}

.axis--x path {
  display: none;
}
#frameGraf{
  margin-top: 100px;
  margin-left: 150px;
}
#title{
  margin-left: 150px;
  margin-bottom: 80px;
}